@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dde1e7;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

main {
  min-height: 100vh;
  display: flex;
}

#profil-editor {
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

.app-background-title {
  background: #7600d5;
  height: 2.5625rem;
  display: flex;
  border-radius: 0.1875rem 0.1875rem 0 0;
}

.app-title {
  font-weight: 37.5rem;
  margin: auto;
  color: #fff;
}

.app-body {
  width: 100%;
  border: 0.125rem solid #7600d5;
  border-top: none;
  display: table;
  justify-content: center;
  align-items: center;
}

.app-body-box {
  margin: auto 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.app-body-box-response {
  width: auto;
  height: 100%;
  margin: auto 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.app-body-box-response span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-btn {
  background: #1b39e2;
  color: #fff;
  padding: 0.625rem;
  border-radius: 1.25rem;
  font-size: 1rem;
}

.app-btn,
.clickable {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.app-btn:hover,
.clickable:hover {
  transform: scale(1.05);
}

.app-body-title {
  text-align: center;
  font-weight: 100;
  padding: 1.5625rem 0 1.875rem 0;
  box-sizing: content-box;
}

.avatars {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  box-sizing: content-box;
}

.avatar {
  max-width: 8rem;
  width: 48%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: -0.0625rem -0.0625rem 0.0625rem 0.0625rem rgba(255, 255, 255, 0.5),
    0.0625rem 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.25);
}
.avatar-selected {
  border: 0.1875rem solid rgb(61, 61, 61);
  box-sizing: border-box;
}

.avatar svg {
  width: 100%;
  height: 100%;
}

.profil-styles {
  box-sizing: content-box;
  border-top: 0.125rem solid grey;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.profil-styles-img {
  max-width: 25%;
  height: auto;
}

.profil-styles-row {
  min-height: 4.6875rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 0;
}

.profil-styles-color {
  position: relative;
  max-width: 18%;
  width: 100%;
}

.profil-styles-color img {
  width: 100%;
  height: auto;
}

.selected-color::after {
  content: "";
  position: absolute;
  left: 0.1875rem;
  right: 0.1875rem;
  top: 0.1875rem;
  bottom: 0.3125rem;
  border-radius: 50%;
  border: 0.125rem solid rgb(102, 102, 102);
}

@media screen and (min-width: 300px) {
  #profil-editor {
    width: 100%;
    margin: auto 0.875rem;
  }
  .app-body-box {
    margin: auto 13%;
  }
  .app-body-box-response {
    margin: auto 13%;
  }
}

@media screen and (min-width: 430px) {
  main {
    padding: 0 0.9375rem;
  }
  #profil-editor {
    max-width: 36.875rem;
    width: 100%;
    margin: auto;
  }
  .app-body-box {
    width: 90%;
    max-width: 18.125rem;
    margin: auto;
  }
  .app-body-box-response {
    width: 90%;
    max-width: 18.125rem;
    margin: auto;
  }
}

@media screen and (min-width: 618px) {
  body {
    font-size: 0.5625rem;
  }

  #profil-editor {
    max-width: 36.875rem;
    width: 36.875rem;
    margin: auto;
  }
  .app-caption {
    height: 2rem;
  }
  .app-body {
    height: 28rem;
    padding: 0 3.125rem;
  }
  .app-body-box {
    width: 18.125rem;
  }
  .app-body-box-response {
    width: 18.125rem;
  }
  .profil-styles {
    width: 15rem;
  }
  .profil-styles img {
    width: 2.5rem;
    height: auto;
  }
  .profil-styles-row {
    padding: 0.375rem;
  }
}
